* {
    scrollbar-width: thin;
    scrollbar-color: #e5c706 #000000;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 0px;
  }

  *::-webkit-scrollbar-track {
    background: #000000;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #e5c706;
    border-radius: 10px;
    border: 0px groove #ffffff;
  }